$day-background: #ffff;
$color-blue: #0d9beb;
$color-purple: #3e1ebe;
$color-turquoise: #10f4f4;

.heroContainer {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $day-background;
  object-fit: contain;
}

.heroContainer__logo {
  width: 100%;
  height: 60%;
  position: relative;
  display: flex;
  justify-content: center;
}

.hero-img {
  width: 1200px;
  height: 750px;
}

.heroContainer__footer {
  width: 95%;
  height: 30vh;
  display: flex;
  flex-direction: row;
  background: $day-background;
  display: flex;
  justify-content: space-between;
}

.heroContainer__footer__text {
  font-family: JetBrains Mono;
  font-size: 3rem;
}

.blue {
  color: $color-blue;
}
.purple {
  color: $color-purple;
}
.turquoise {
  color: $color-turquoise;
}

.heroContainer__footer__social {
  display: flex;
  justify-content: flex-end;
  background-position-y: bottom;
}

.logo {
  width: 70px;
  padding: 10px;
  margin-top: 150px;
}
